casadi==3.6.7
cvxpy==1.6.0
imageio==2.36.0
matplotlib==3.9.2
numpy==2.1.2
pyqtgraph==0.13.7
PySide6==6.8.0.2
PySide6==6.8.0.2
PySide6_Addons==6.8.0.2
PySide6_Essentials==6.8.0.2
pytest==8.3.3
scipy==1.14.1
